<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    
  </head>
  <body>
    <header>
      <div class="custom-container">
        <div class="py-5">
          <div class="flex justify-end items-center">
            <button id="btn-mobile" class="md:hidden">
              Mobile
            </button>
          </div>
          <div class="flex justify-end">
            <ul class="hidden md:flex space-x-7">
                <li><a href="/">Home</a></li>
                <li><a href="product">Products</a></li>
                <li><a href="signin">Signin</a></li>
                <li><a href="signup">Signup</a></li>
                <li><a href="Blog">Blog</a></li>
                <li><a href="Work">Work</a></li>
                <li><a href="">Account</a></li>
            </ul>
          </div>
        
        </div>
      </div>
    </header>
    <section class="banner">
      <div class="custom-container">
        <div class="grid md:grid-cols-3 gap-8">
          <div class="banner-content">
            <h2 class="banner-content__title">
              Hi, I am John, Creative Technologist
            </h2>
            <p class="banner-content__desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
            <a href="" class="btn btn-danger banner-content__btn"
              >Download Resume</a
            >
          </div>
          <div class="banner-picture">
            <img
              src="https://vcdn-sohoa.vnecdn.net/2019/08/13/anh-vit-4994-1563184203-8682-1565668951.gif" style="width: 243px; height: 243px;"
              alt=""
              class="banner-picture__thumb"
            />
          </div>
        </div>
      </div>
    </section>
    <!--End .banner-->
    <section class="recent-post">
      <div class="custom-container">
        <div class="seciton-header">
          <h2 class="seciton-header__title">Recent post</h2>
          <a href="">View all</a>
        </div>
        <div class="section-body">
          <div class="grid md:grid-cols-2 gap-8">
            <div class="recent-post__item">
              <h3 class="recent-post__title">
                Making a design system from scratch
              </h3>
              <div class="recent-post__meta">
                <span>12 Feb 2020</span>
                <span>|</span>
                <a href="">Design, Pattern</a>
              </div>
              <p class="recent-post__desc">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                amet sint. Velit officia consequat duis enim velit mollit.
                Exercitation veniam consequat sunt nostrud amet.
              </p>
            </div>
            <div class="recent-post__item">
              <h3 class="recent-post__title">
                Making a design system from scratch
              </h3>
              <div class="recent-post__meta">
                <span>12 Feb 2020</span>
                <span>|</span>
                <a href="">Design, Pattern</a>
              </div>
              <p class="recent-post__desc">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                amet sint. Velit officia consequat duis enim velit mollit.
                Exercitation veniam consequat sunt nostrud amet.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="projects">
      <div class="custom-container">
        <div class="seciton-header">
          <h2 class="seciton-header__title">Feature Projects</h2>
        </div>
        <div class="section-body">
          <div class="project__item grid md:grid-cols-[246px,auto] gap-4">
            <div class="project__img">
              <img
                src="https://i-ione.vnecdn.net/2020/02/27/dungn-7056-1582790891.gif" style="width: 246; height: 180px;"
                alt=""
                class="project__thumbnail"
              />
            </div>
            <div class="project__content">
              <h3 class="project__name">Designing Dashboards</h3>
              <div class="project__meta">
                <span class="project__createat">2020</span>
                <a href="" class="project__category">Dashboard</a>
              </div>
              <p>
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                amet sint. Velit officia consequat duis enim velit mollit.
                Exercitation veniam consequat sunt nostrud amet.
              </p>
            </div>
          </div>
          <!--End .project-item-->
          <div class="project__item grid md:grid-cols-[246px,auto] gap-4">
            <div class="project__img">
              <img
                src="https://thumbs.gfycat.com/EdiblePointedGrackle-max-1mb.gif"  style="width: 246; height: 180px;"
                alt=""
                class="project__thumbnail"
              />
            </div>
            <div class="project__content">
              <h3 class="project__name">Designing Dashboards</h3>
              <div class="project__meta">
                <span class="project__createat">2020</span>
                <a href="" class="project__category">Dashboard</a>
              </div>
              <p>
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                amet sint. Velit officia consequat duis enim velit mollit.
                Exercitation veniam consequat sunt nostrud amet.
              </p>
            </div>
          </div>
          <!--End .project-item-->
          <div class="project__item grid md:grid-cols-[246px,auto] gap-4">
            <div class="project__img">
              <img
                src="https://bigdata-vn.com/wp-content/uploads/2021/09/1632686719_66_Anh-dong-cute-dep.gif"  style="width: 246; height: 180px;"
                alt=""
                class="project__thumbnail"
              />
            </div>
            <div class="project__content">
              <h3 class="project__name">Designing Dashboards</h3>
              <div class="project__meta">
                <span class="project__createat">2020</span>
                <a href="" class="project__category">Dashboard</a>
              </div>
              <p>
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                amet sint. Velit officia consequat duis enim velit mollit.
                Exercitation veniam consequat sunt nostrud amet.
              </p>
            </div>
          </div>
          <!--End .project-item-->
        </div>
      </div>
    </section>
    <footer></footer>
  </body>
</html>
