<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<style>
    @media (max-width : 640px) {
        .row {
            grid-template-columns: 1fr 1fr;
        }
    }

    @media (max-width : 1200px) and (min-width:340px) {
        .row {
            display: grid;
            grid-template-columns: 1fr;
            text-align: center;
            padding-left: 0rem;
            padding-right: 0rem;
            display: flex;
            flex-direction: column-reverse;
        }

        .mt-2 {
            margin: auto;
        }

        .font-bold {
            font-size: 30px;
            margin-top: 10px;
        }
    }
</style>

<body>
    <div class="container : w-full m-auto : font-sans ">
        <div class="header px-60 full">
            <div class="container">
                <div class="navbar">
                    <nav>
                        <ul id="MenuItems">
                            <li><a href="/">Home</a></li>
                            <li><a href="product">Products</a></li>
                            <li><a href="signin">Signin</a></li>
                            <li><a href="signup">Signup</a></li>
                            <li><a href="Blog">Blog</a></li>
                            <li><a href="Work">Work</a></li>
                            <li><a href="">Account</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="pb-16 ml-48"><b class="text-3xl">Blog</b></div>
        <div class="ml-48">
            <h2 class="text-xl font-bold">UI Interactions of the week</h2>
            <ul class="flex gap-4">
                <li>
                    <button class="border p-2  text-white "
                        style="border-radius: 40px ; padding: 0 10px; background-color:#142850 ;">2020</button>
                    <script type="text/javascript">
                        n = new Date(); if (n.getTimezoneOffset() == 0) t = n.getTime() + (7 * 60 * 60 * 1000); else t = n.getTime(); n.setTime(t); var dn = new Array("Chủ nhật", "Thứ 2", "Thứ 3", "Thứ 4", "Thứ 5", "Thứ 6", "Thứ 7"); d = n.getDay(); m = n.getMonth() + 1; y = n.getFullYear()
                        document.write(dn[d] + ", " + (n.getDate() < 10 ? "0" : "") + n.getDate() + "/" + (m < 10 ? "0" : "") + m + "/" + y)
                    </script>
                </li> |
                <li>Dashboards</li>
            </ul>
            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                Velit officia consequat duis enim velit mollit. <br>
                Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
        <br>
        <hr class="ml-48" width="60%" align="center">
        <div class="ml-48">
            <h2 class="text-xl font-bold">UI Interactions of the week</h2>
            <ul class="flex gap-4">
                <li>
                    <button class="border p-2  text-white "
                        style="border-radius: 40px ; padding: 0 10px; background-color:#142850 ;">2020</button>
                    <script type="text/javascript">
                        n = new Date(); if (n.getTimezoneOffset() == 0) t = n.getTime() + (7 * 60 * 60 * 1000); else t = n.getTime(); n.setTime(t); var dn = new Array("Chủ nhật", "Thứ 2", "Thứ 3", "Thứ 4", "Thứ 5", "Thứ 6", "Thứ 7"); d = n.getDay(); m = n.getMonth() + 1; y = n.getFullYear()
                        document.write(dn[d] + ", " + (n.getDate() < 10 ? "0" : "") + n.getDate() + "/" + (m < 10 ? "0" : "") + m + "/" + y)
                    </script>
                </li> |
                <li>Dashboards</li>
            </ul>
            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                Velit officia consequat duis enim velit mollit. <br>
                Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
        <br>
        <hr class="ml-48" width="60%" align="center">
        <div class="ml-48">
            <h2 class="text-xl font-bold">UI Interactions of the week</h2>
            <ul class="flex gap-4">
                <li>
                    <script type="text/javascript">
                        n = new Date(); if (n.getTimezoneOffset() == 0) t = n.getTime() + (7 * 60 * 60 * 1000); else t = n.getTime(); n.setTime(t); var dn = new Array("Chủ nhật", "Thứ 2", "Thứ 3", "Thứ 4", "Thứ 5", "Thứ 6", "Thứ 7"); d = n.getDay(); m = n.getMonth() + 1; y = n.getFullYear()
                        document.write(dn[d] + ", " + (n.getDate() < 10 ? "0" : "") + n.getDate() + "/" + (m < 10 ? "0" : "") + m + "/" + y)
                    </script>
                </li> |
                <li>Dashboards</li>
            </ul>
            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                Velit officia consequat duis enim velit mollit. <br>
                Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
        <br>
        <hr class="ml-48" width="60%" align="center">
        <div class="ml-48">
            <h2 class="text-xl font-bold">UI Interactions of the week</h2>
            <ul class="flex gap-4">
                <li>
                    <script type="text/javascript">
                        n = new Date(); if (n.getTimezoneOffset() == 0) t = n.getTime() + (7 * 60 * 60 * 1000); else t = n.getTime(); n.setTime(t); var dn = new Array("Chủ nhật", "Thứ 2", "Thứ 3", "Thứ 4", "Thứ 5", "Thứ 6", "Thứ 7"); d = n.getDay(); m = n.getMonth() + 1; y = n.getFullYear()
                        document.write(dn[d] + ", " + (n.getDate() < 10 ? "0" : "") + n.getDate() + "/" + (m < 10 ? "0" : "") + m + "/" + y)
                    </script>
                </li> |
                <li>Dashboards</li>
            </ul>
            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                Velit officia consequat duis enim velit mollit. <br>
                Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
        <br>
        <hr class="ml-48" width="60%" align="center">
        <footer class="text-center mt-5">
            <img class="w-6 inline-block mx-4" src="images/59439.png" alt="">
            <img class="w-6 inline-block mx-4" src="images/87390.png" alt="">
            <img class="w-6 inline-block mx-4" src="images/twitter-png-icon-29.jpg" alt="">
            <div>
                <span>Vanh</span>
            </div>

        </footer>
    </div>
</body>

</html>