<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nz-table #basicTable [nzData]="data">
        <thead>
            <button><a href="product/add">Add</a></button>
            <tr>
                <th>STT</th>
                <th>Name</th>
                <th>Age</th>
                <th>Address</th>
                <th>Action</th>
            </tr>
        </thead> 
        <tbody>
            <tr *ngFor="let data of basicTable.data;  let i= index">
                <td>{{i + 1}}</td>
                <td>{{data.name}}</td>
                <td>{{data.price}}</td>
                <td>{{data.status ? "Còn hàng":"Hết hàng"}}</td>
                <td>
                    <button class="btn btn-danger" (click)="onremoveProduct(data.id!)">Delete </button>
                    <button class="btn btn-info ms-1" >Update</button>
                </td>
            </tr>
        </tbody>
    </nz-table>
    <!-- <table class="table">
        <thead>
            <button><a href="product/add">Add</a></button>
            <tr>


                <th scope="col">STT</th>
                <th scope="col">Tên</th>
                <th scope="col">giá</th>
                <th scope="col">trạng thái</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products; let i= index">
                <td>{{i + 1}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.status ? "Còn hàng":"Hết hàng"}}</td>
                <td>
                    <button class="btn btn-danger" (click)="onremoveProduct(product.id!)">
                        Delete
                    </button>
                    <button class="btn btn-info ms-1">Update</button>
                </td>
            </tr>

        </tbody>
    </table> -->
</body>

</html>
<router-outlet></router-outlet>