<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Tên</th>
                <th scope="col">giá</th>
                <th scope="col">trạng thái</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products; let i= index">
                <td>{{i + 1}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.status ? "Còn hàng":"Hết hàng"}}</td>
                <td>
                    <button class="btn - btn-danger">xóa</button>
                    <button class="btn - btn-info mg-1" type="submit"
                        >detail</button>
                </td>
            </tr>

        </tbody>
    </table>
</body>

</html>
<!-- (click)="onHandleDelete(product.id)"
(click)="onHandleGetInfo(product)" -->
<router-outlet></router-outlet>